/*
Theme Name: FlatOn
Theme URI: http://www.webulousthemes.com/flaton/
Author: N. Venkat Raj
Author URI: http://www.webulousthemes.com/
Description: FlatOn is inspired by flat design trend and comes with modern and responsive design. Also has two different color schemes. It uses skeleton framework for grids which keeps minimal css. Stylesheet is generated using SASS and so stays DRY. Best suited for Corporate/Business/Blog sites and also support Jigoshop eCommerce. Supports theme options panel and comes with lots of options. Has 4 Footer Widget Areas, allows Custom CSS via theme option panel. Demo: http://demo.webulous.in/flaton
Version: 1.2.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: flaton
Tags: custom-background, custom-header, custom-menu, featured-images, post-formats, responsive-layout, right-sidebar, left-sidebar, sticky-post, threaded-comments, translation-ready, two-columns

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 Reset
1.0 Grid
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
0.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll;
    /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after {
    /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    /* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

/*ol, ul {
	list-style: none;
}*/
table {
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}

/*--------------------------------------------------------------
1.0 Grid
--------------------------------------------------------------*/
.container {
    position: relative;
    width: 93%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.container .one.column {
    width: 4.1%;
}

.container .two.columns {
    width: 10.4%;
}

.container .three.columns {
    width: 16.6%;
}

.container .four.columns {
    width: 22.9%;
}

.container .five.columns {
    width: 29.16%;
}

.container .six.columns {
    width: 35%;
}

.container .seven.columns {
    width: 41.6%;
}

.container .eight.columns {
    width: 47.9%;
}

.container .nine.columns {
    width: 54.16%;
}

.container .ten.columns {
    width: 60%;
}

.container .eleven.columns {
    width: 66.66%;
}

.container .twelve.columns {
    width: 72.9%;
}

.container .thirteen.columns {
    width: 79.16%;
}

.container .fourteen.columns {
    width: 85%;
}

.container .fifteen.columns {
    width: 91.66%;
}

.container .sixteen.columns {
    width: 97.9%;
}

.container .one-third.column {
    width: 31.25%;
}

.container .tow-thirds.column {
    width: 64.5%;
}

.container .offset-by-one {
    padding-left: 6.25%;
}

.container .offset-by-two {
    padding-left: 12.5%;
}

.container .offset-by-three {
    padding-left: 18.75%;
}

.container .offset-by-four {
    padding-left: 25%;
}

.container .offset-by-five {
    padding-left: 31.25%;
}

.container .offset-by-six {
    padding-left: 37.5%;
}

.container .offset-by-seven {
    padding-left: 43.7%;
}

.container .offset-by-eight {
    padding-left: 50%;
}

.container .offset-by-nine {
    padding-left: 56.25%;
}

.container .offset-by-ten {
    padding-left: 62.5%;
}

.container .offset-by-eleven {
    padding-left: 68.75%;
}

.container .offset-by-twelve {
    padding-left: 75%;
}

.container .offset-by-thirteen {
    padding-left: 81.25%;
}

.container .offset-by-fourteen {
    padding-left: 87.5%;
}

.container .offset-by-fifteen {
    padding-left: 93.75%;
}

.column, .columns {
    float: left;
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
}

.column .alpha, .columns .alpha {
    margin-left: 0;
}

.column .omega, .columns .omega {
    margin-right: 0;
}

.row {
    margin-bottom: 2%;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 93%;
    }

    .container .column, .container .columns {
        margin-left: 1.3%;
        margin-right: 1.3%;
    }

    .container .column .alpha, .container .columns .alpha {
        margin-left: 0;
        margin-right: 1.3%;
    }

    .container .column .omega, .container .columns .omega {
        margin-left: 1.3%;
        margin-right: 0%;
    }

    .container .one.column {
        width: 3.64%;
    }

    .container .two.columns {
        width: 9.89%;
    }

    .container .three.columns {
        width: 16.1%;
    }

    .container .four.columns {
        width: 22.39%;
    }

    .container .five.columns {
        width: 28.64%;
    }

    .container .six.columns {
        width: 34.89%;
    }

    .container .seven.columns {
        width: 41.14%;
    }

    .container .eight.columns {
        width: 47.39%;
    }

    .container .nine.columns {
        width: 53.64%;
    }

    .container .ten.columns {
        width: 59.89%;
    }

    .container .eleven.columns {
        width: 66.14%;
    }

    .container .twelve.columns {
        width: 72.39%;
    }

    .container .thirteen.columns {
        width: 78.64%;
    }

    .container .fourteen.columns {
        width: 84.89%;
    }

    .container .fifteen.columns {
        width: 91.14%;
    }

    .container .sixteen.columns {
        width: 97.39%;
    }

    .container .one-third.column {
        width: 30.72%;
    }

    .container .two-thirds.column {
        width: 64%;
    }

    .container .offset-by-one {
        padding-left: 6.25%;
    }

    .container .offset-by-two {
        padding-left: 12.5%;
    }

    .container .offset-by-three {
        padding-left: 18.75%;
    }

    .container .offset-by-four {
        padding-left: 25%;
    }

    .container .offset-by-five {
        padding-left: 31.25%;
    }

    .container .offset-by-six {
        padding-left: 37.5%;
    }

    .container .offset-by-seven {
        padding-left: 43.75%;
    }

    .container .offset-by-eight {
        padding-left: 45%;
    }

    .container .offset-by-nine {
        padding-left: 56.25%;
    }

    .container .offset-by-ten {
        padding-left: 62.5%;
    }

    .container .offset-by-eleven {
        padding-left: 68.75%;
    }

    .container .offset-by-twelve {
        padding-left: 75%;
    }

    .container .offset-by-thirteen {
        padding-left: 81.25%;
    }

    .container .offset-by-fourteen {
        padding-left: 87.5%;
    }

    .container .offset-by-fifteen {
        padding-left: 93.75%;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 93%;
    }

    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column {
        width: 100%;
    }

    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen {
        padding-left: 0;
    }

    .columns, .column {
        margin: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 93%;
    }

    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column {
        width: 100%;
    }

    .columns, .column {
        margin: 0;
    }
}

/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.panel-row-style-full-width-layout:before,
.panel-row-style-full-width-layout:after,
.panel-row-style-section-divider:before,
.panel-row-style-section-divider:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after,
.panel-row-style-full-width-layout:before,
.panel-row-style-full-width-layout:after,
.panel-row-style-section-divider:before,
.panel-row-style-section-divider:after {
    clear: both;
}

.row,
.clearfix {
    zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* ==|== primary styles =====================================================
   Author: Lucas - Skeleton Based Media Queries
   ========================================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #34495E;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: "Bitter", serif;
    font-weight: 700;
}

h1 {
    font-size: 40px;
    font-size: 4rem;
}

h2 {
    font-size: 30px;
    font-size: 3rem;
}

h3 {
    font-size: 22px;
    font-size: 2.2rem;
}

h4 {
    font-size: 20px;
    font-size: 2rem;
}

h5 {
    font-size: 18px;
    font-size: 1.8rem;
}

h6 {
    font-size: 16px;
    font-size: 1.6rem;
}

p {
    margin-bottom: 1.5em;
}

b, strong {
    font-weight: bold;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #F5F5F5;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
    border: 1px solid #ECF0F1;
}

code, kbd, tt, var {
    font-size: 15px;
    font-size: 1.5rem;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
    border-bottom: 1px dotted #34495E;
    cursor: help;
}

mark, ins {
    background: #b9c8d8;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
    background-color: #ECF0F1;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 3em;
}

/*ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}*/
li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 0;
}

table {
    width: 100%;
    border-spacing: 0;
    margin: 0 0 1.5em;
    border-collapse: separate;
    border: 1px solid #ECF0F1;
}

table th {
    font-weight: bold;
}

table caption,
table td,
table th {
    text-align: center;
    padding: 5px;
}

table td,
table th {
    border: 1px solid #ECF0F1;
    border-top: 0;
    border-right: 0;
}

table td#today {
    background-color: #3498db;
    color: #FFFFFF;
}

table {
    border-left: 0;
    border-bottom: 0;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline;
    /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #3498db;
    color: #FFFFFF;
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button;
    /* Corrects inability to style clickable 'input' types in iOS */
    line-height: 1;
    padding: 7px 10px;
    border: 0;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #34495E;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #34495E;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* Addresses appearance set to searchfield in S5, Chrome */
    -webkit-box-sizing: content-box;
    /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #6D6D6D;
    border: 1px solid #ECF0F1;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: #6D6D6D;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px;
}

textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 3px;
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
    width: 100%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
    color: #3498db;
    text-decoration: none;
}

a:visited {
    color: #3498db;
}

a:hover, a:focus, a:active {
    color: #196090;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #34495E;
    float: left;
    position: absolute;
    top: 57px;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li {
    line-height: 40px;
}

.main-navigation ul ul li:hover > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 300px;
    border-left: 5px solid transparent;
    padding-left: 15px;
}

.main-navigation ul ul :hover > a {
    padding-left: 25px;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -ms-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
}

.main-navigation ul ul a:hover {
    border-color: #1aace7;
}

.main-navigation ul li:hover > ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
    line-height: 57px;
}

.main-navigation li:hover > a {
    background-color: #3498db;
}

.main-navigation a {
    display: block;
    text-decoration: none;
    padding: 0 25px;
    color: #FFFFFF;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
    background-color: #3498db;
}

/* Small menu */
.menu-toggle {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block !important;
        padding: 15px 0;
        margin: 5px 0;
        width: 100%;
    }

    .main-navigation li {
        float: none;
        line-height: 40px;
    }

    .main-navigation li ul {
        display: block;
        top: 40px;
    }

    .main-navigation ul ul li:hover > ul {
        left: 25px;
    }

    .main-navigation ul {
        display: none;
    }
}

.comment-navigation .nav-previous a,
.paging-navigation .nav-previous a,
.post-navigation .nav-previous a, .comment-navigation .nav-next a,
.paging-navigation .nav-next a,
.post-navigation .nav-next a, .page-links a, .more-link {
    display: inline-block;
    background-color: #3498db;
    color: #FFFFFF;
    padding: 7px 10px;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.comment-navigation .nav-previous a:hover,
.paging-navigation .nav-previous a:hover,
.post-navigation .nav-previous a:hover, .comment-navigation .nav-next a:hover,
.paging-navigation .nav-next a:hover,
.post-navigation .nav-next a:hover, .page-links a:hover, .more-link:hover {
    background-color: #34495E;
    color: #FFFFFF;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-previous .meta-nav,
.paging-navigation .nav-previous .meta-nav,
.post-navigation .nav-previous .meta-nav {
    padding: 6px 10px;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.comment-navigation .nav-next .meta-nav,
.paging-navigation .nav-next .meta-nav,
.post-navigation .nav-next .meta-nav {
    padding: 6px 10px;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #FFFFFF;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #6D6D6D;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget-title {
    color: #3498db;
}

.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets */
}

.widget h3 {
    margin-bottom: .5em;
}

.widget select {
    max-width: 100%;
    width: 100%;
}

.widget ul {
    margin: 0;
    list-style: none;
}

.widget ul li {
    border-bottom: 1px solid #ECF0F1;
    color: #797979;
}

.widget ul li a {
    padding-left: 15px;
    background: url("images/list.png") no-repeat left 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.widget ul li a:hover {
    background-position: 5px 8px;
}

.widget ul li li {
    padding-left: 20px;
}

.widget a {
    color: #34495E;
}

.widget a:hover {
    color: #3498db;
}

.widget_recent_comments ul li a,
.widget_rss ul li a {
    padding: 0;
    background: none;
}

.widget_rss ul li {
    padding: 8px 0;
}

.widget_rss ul li .rss-date {
    color: #3498db;
    display: block;
}

.widget_rss ul li cite {
    color: #797979;
}

/* Search widget */
.widget_search .search-submit {
    display: none;
}

.widget_search input {
    width: 100%;
    padding: 5px 10px;
}

.widget_archive li,
.widget_categories li,
.widget_pages li,
.widget_meta li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_nav_menu li {
    padding: 10px 0;
}

.widget li ul {
    border-top: 1px solid #ECF0F1;
    margin-top: 10px;
}

.widget_tag_cloud a {
    background-color: #ECF0F1;
    padding: 5px;
    margin: 2px;
    display: inline-block;
}

.widget_tag_cloud a:hover {
    color: #FFFFFF;
    background-color: #3498db;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
.site-branding {
    height: 106px;
    padding: 20px 0 0;
}

.site-title {
    line-height: 1;
}

.site-title a {
    color: #34495E;
}

.site-title a:hover {
    color: #3498db;
}

.site-description {
    font-size: 18px;
    font-size: 1.8rem;
    color: #6D6D6D;
}

#site-navigation {
    background-color: #34495E;
    height: 57px;
}

.site-footer {
    background-color: #34495E;
}

.site-footer a {
    color: #FFFFFF;
}

.site-footer a:hover {
    color: #3498db;
}

.site-footer .widget li a {
    color: #FFFFFF;
    background: url("images/list-white.png") no-repeat left 10px;
    display: block;
}

.site-footer .widget li a:hover {
    color: #3498db;
    background-position: 5px 10px;
}

.site-footer .widget_tag_cloud a {
    background-color: #7F8C8D;
}

.site-footer .widget_tag_cloud a:hover {
    color: #FFFFFF;
    background-color: #3498db;
}

#colophon {
    color: #FFFFFF;
}

.site-info {
    padding: 20px 0;
}

.footer-top {
    border-bottom: 1px solid #263340;
    padding: 20px 0 0;
}

.footer-bottom {
    border-top: 1px solid #4d647b;
}

.footer-bottom a {
    color: #3498db;
}

.footer-bottom a:hover {
    color: #FFFFFF;
}

#content {
    padding-top: 20px;
}

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
    background-color: #F5F5F5;
    padding: 10px;
    border: 1px solid #d6e6ea;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.hentry {
    margin: 0 0 1.5em;
}

.entry-meta,
.entry-footer {
    border-top: 1px solid #d6e6ea;
    border-bottom: 1px solid #d6e6ea;
    padding: 8px 0;
    color: #7F8C8D;
    margin-top: 10px;
}

.entry-meta span,
.entry-footer span {
    padding-right: 25px;
}

.entry-meta span span,
.entry-footer span span {
    padding-right: 0;
}

.entry-meta span i,
.entry-footer span i {
    padding-right: 5px;
}

.entry-meta a,
.entry-footer a {
    color: #7F8C8D;
}

.entry-meta a:hover,
.entry-footer a:hover {
    color: #34495E;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

blockquote {
    position: relative;
    margin-bottom: 1.5em;
}

blockquote:before {
    position: absolute;
    content: "\f10d";
    color: #3498db;
    font-size: 1.4em;
    font-family: 'FontAwesome';
}

blockquote p {
    width: 95%;
    margin: 0 0 0 35px;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

h2.comments-title {
    margin-bottom: 30px;
    padding-bottom: 10px;
    line-height: normal;
}

ol.comment-list {
    margin: 0 0 1.5em 0;
    list-style-type: none;
}

ol.comment-list li.pingback {
    border: 1px solid #F5F5F5;
    margin: 5px;
    padding: 10px;
}

ol.comment-list .bypostauthor {
    display: block;
}

ol.comment-list ol.children {
    list-style-type: none;
}

ol.comment-list .comment-body {
    border: 2px solid #F0F2F3;
    left: 60px;
    padding: 5px 20px 10px;
    position: relative;
    width: 92%;
}

ol.comment-list .comment-body p {
    margin-bottom: 10px;
}

ol.comment-list .comment-author img {
    top: 0;
    left: -60px;
    position: absolute;
}

ol.comment-list .parent article {
    border: 2px solid #F0F2F3;
    margin-bottom: 20px;
    padding: 5px 20px 10px;
}

ol.comment-list .comment-metadata {
    display: block;
    font-size: 13px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

ol.comment-list .comment-metadata a {
    color: #797979;
}

ol.comment-list .comment-metadata a:hover {
    color: #3498db;
}

ol.comment-list .comment-author cite {
    font-style: normal;
}

ol.comment-list .comment-author cite a {
    font-size: 17px;
    font-size: 1.7rem;
    color: #34495E;
}

ol.comment-list .comment-author cite a:hover {
    color: #3498db;
}

ol.comment-list .comment-content li {
    list-style-type: unset;
    overflow: visible;
}

ol.comment-list > li {
    margin-bottom: 20px;
}

ol.comment-list .even.depth-1 .comment-body {
    background-color: #F0F2F3;
}

ol.comment-list .odd.depth-1 .comment-body {
    background-color: #fff;
}

ol.comment-list .even.depth-2 .comment-body {
    background-color: #F0F2F3;
}

ol.comment-list .odd.depth-3 .comment-body {
    background-color: #fff;
}

ol.comment-list .even.depth-4 .comment-body {
    background-color: #F0F2F3;
}

ol.comment-list .odd.depth-5 .comment-body {
    background-color: #fff;
}

ol.comment-list .bypostauthor > .comment-body {
    background-color: #d6e6ea !important;
}

ol.comment-list li.pingback .comment-body {
    border: 0;
    padding: 0;
    position: static;
    width: 100%;
    background-color: transparent !important;
}

.comment-form label {
    min-width: 80px;
    display: inline-block;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    padding: 5px 10px;
}

.comment-form textarea {
    margin-top: 10px;
}

.services {
    padding-top: 50px;
}

h2.service-title,
h3.service-subtitle {
    text-align: center;
}

h2.service-title {
    font-size: 2.8em;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

h2.service-title div {
    display: inline;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-image: url("images/bg-line-title.gif"), url("images/bg-line-title.gif"), url("images/bgrepeat-line-title.gif");
    background-position: left bottom, right bottom, center bottom;
    background-repeat: no-repeat, no-repeat, repeat-x;
}

h3.service-subtitle {
    margin-bottom: 30px;
}

#service-tabs ul {
    text-align: center;
    margin: 0 0 50px;
    list-style-type: none;
}

.ui-tabs-nav li {
    display: inline;
}

#service-tabs ul li a {
    padding: 12px 30px;
    display: inline-block;
    color: #FFFFFF;
}

.ui-tabs-panel {
    clear: both;
}

.tab-icon {
    text-align: center;
}

.tab-icon i {
    font-size: 8em;
    /*padding: 25px;*/
    border-radius: 25px 0 25px 0;
}

#service-tabs .ui-tabs-panel {
    min-height: 250px;
    position: relative;
}

#service-tabs .ui-tabs-panel .tab-icon {
    /*
      min-height: 140px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 22%;
    */
    text-align: center;
    padding: 50px 0;
    background-color: #F0F2F3;
}

.team-col {
    min-height: 170px;
}

.team-col:nth-of-type(2),
.team-col:nth-of-type(4) {
    border-right: 0;
}

.team-col:nth-of-type(3),
.team-col:nth-of-type(4) {
    border-bottom: 0;
}

#service-tabs .service-desc li {
    float: none;
    list-style-type: disc;
}

#service-tabs .service-desc ol {
    list-style-type: disc;
}

#service-tabs .service-desc ul {
    text-align: left;
    margin-left: 30px;
    list-style-type: disc;
}

.team-col strong {
    display: block;
    font-size: 1.4em;
}

.team-col h5 {
    font-size: 1em;
    font-weight: normal;
}

.team-col img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.team-col p {
    text-align: justify;
}

.team-col p,
.team-col h5 {
    margin-left: 135px;
}

.team-content {
    background-image: url("images/circle.gif"), url("images/circle.gif"), url("images/circle.gif"), url("images/line-repeat.gif");
    background-position: 51% top, 51% bottom, 51% center, 51% top;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-y;
    margin-bottom: 50px;
}

.team-col {
    padding: 25px;
}

.innercol {
    background-image: url("images/circle.gif"), url("images/circle.gif"), url("images/circle.gif"), url("images/line-repeat.gif");
    background-position: left center, right center, 51% center, center center;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
}

#add-info h1,
#add-info h2,
#add-info h3,
#add-info h4,
#add-info h5 {
    clear: none;
}

#add-info h2 {
    text-align: center;
    margin-bottom: 35px;
}

#add-info img {
    margin-right: 75px;
}

.recent-work {
    margin: 10px;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 250px;
    float: left;
}

.recent-work:hover .rk-thumb {
    opacity: .5;
    transition: all .5s;
}

.rk-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    width: 100%;
    min-height: 250px;
    line-height: 1.2;
}

.recent-work:hover .rk-content {
    opacity: 1;
}

.rk-content p {
    text-align: justify;
}

.rk-content h3 {
    padding-bottom: 10px;
}

.rk-content h3 a {
    color: #3498db;
}

.rk-content h3 a:hover {
    color: #FFFFFF;
}

.rk-content p.readmore {
    text-align: center;
}

.rk-content p.readmore a {
    background-color: #34495E;
}

.rk-content p.readmore a:hover {
    color: #FFFFFF;
    background-color: #3498db;
}

.rk-content {
    background-color: rgba(51, 73, 94, 0.8);
    color: #FFFFFF;
}

/* Recent Work Animation */
.rk-thumb {
    overflow: hidden;
}

.rk-thumb img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rk-content {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.rk-content h3 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.rk-content p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.recent-work:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.view-first a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.recent-work:hover .rk-content {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.recent-work:hover h3,
.recent-work:hover p,
.recent-work:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.recent-work:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.recent-work:hover a.info {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.team-col h5 {
    color: #3498db;
}

#service-tabs ul li a {
    background-color: #34495E;
}

#service-tabs ul li a:hover,
#service-tabs ul li.ui-tabs-active a {
    background-color: #3498db;
}

.flex-direction-nav a:hover {
    background: #3498db;
}

.flex-caption {
    position: absolute;
    color: #FFFFFF;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
}

.flex-caption h1, .flex-caption h2, .flex-caption h3, .flex-caption h4, .flex-caption h5, .flex-caption h6, .flex-caption p,
.flex-caption ul {
    margin: 0 0 .5em;
    padding: 0 30px;
}

.flex-caption h2, .flex-caption h3 {
    text-shadow: 1px 1px 1px #000;
}

.flexslider .slides > li {
    position: relative;
}

/* Skill Styls Starts 
-------------------------------------- */
.skill-container {
    margin-top: 20px;
    padding-bottom: 1px;
}

.skill {
    height: 12px;
    position: relative;
    margin: -8px 0 10px 50px;
    background-color: #F0F2F3;
}

.skill-percentage {
    height: 12px;
    position: absolute;
    background-color: #3498db;
}

.skill-container i {
    color: #FFFFFF;
}

.skill-container [class*="fa fa-"]:before {
    background: #34495E;
    color: #FFFFFF;
}

.circle {
    top: -3px;
    width: 17px;
    right: -3px;
    height: 17px;
    position: absolute;
    display: none;
}

.skill-content {
    top: -26px;
    position: relative;
}

.skill-content span {
    float: right;
}

.skill-container [class*="fa fa-"]:before {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 8px;
}

.percent5 {
    width: 5%;
}

.percent10 {
    width: 10%;
}

.percent15 {
    width: 15%;
}

.percent20 {
    width: 20%;
}

.percent25 {
    width: 25%;
}

.percent30 {
    width: 30%;
}

.percent35 {
    width: 35%;
}

.percent40 {
    width: 40%;
}

.percent45 {
    width: 45%;
}

.percent50 {
    width: 50%;
}

.percent55 {
    width: 55%;
}

.percent60 {
    width: 60%;
}

.percent65 {
    width: 65%;
}

.percent70 {
    width: 70%;
}

.percent75 {
    width: 75%;
}

.percent80 {
    width: 80%;
}

.percent85 {
    width: 85%;
}

.percent90 {
    width: 90%;
}

.percent95 {
    width: 95%;
}

.percent100 {
    width: 100%;
}

.percent5.start {
    width: 0%;
    -webkit-animation: percent5 2s ease-out forwards;
    -moz-animation: percent5 2s ease-out forwards;
    -ms-animation: percent5 2s ease-out forwards;
    -o-animation: percent5 2s ease-out forwards;
    animation: percent5 2s ease-out forwards;
}

.percent10.start {
    width: 0%;
    -webkit-animation: percent10 2s ease-out forwards;
    -moz-animation: percent10 2s ease-out forwards;
    -ms-animation: percent10 2s ease-out forwards;
    -o-animation: percent10 2s ease-out forwards;
    animation: percent10 2s ease-out forwards;
}

.percent15.start {
    width: 0%;
    -webkit-animation: percent15 2s ease-out forwards;
    -moz-animation: percent15 2s ease-out forwards;
    -ms-animation: percent15 2s ease-out forwards;
    -o-animation: percent15 2s ease-out forwards;
    animation: percent15 2s ease-out forwards;
}

.percent20.start {
    width: 0%;
    -webkit-animation: percent20 2s ease-out forwards;
    -moz-animation: percent20 2s ease-out forwards;
    -ms-animation: percent20 2s ease-out forwards;
    -o-animation: percent20 2s ease-out forwards;
    animation: percent20 2s ease-out forwards;
}

.percent25.start {
    width: 0%;
    -webkit-animation: percent25 2s ease-out forwards;
    -moz-animation: percent25 2s ease-out forwards;
    -ms-animation: percent25 2s ease-out forwards;
    -o-animation: percent25 2s ease-out forwards;
    animation: percent25 2s ease-out forwards;
}

.percent30.start {
    width: 0%;
    -webkit-animation: percent30 2s ease-out forwards;
    -moz-animation: percent30 2s ease-out forwards;
    -ms-animation: percent30 2s ease-out forwards;
    -o-animation: percent30 2s ease-out forwards;
    animation: percent30 2s ease-out forwards;
}

.percent35.start {
    width: 0%;
    -webkit-animation: percent35 2s ease-out forwards;
    -moz-animation: percent35 2s ease-out forwards;
    -ms-animation: percent35 2s ease-out forwards;
    -o-animation: percent35 2s ease-out forwards;
    animation: percent35 2s ease-out forwards;
}

.percent40.start {
    width: 0%;
    -webkit-animation: percent40 2s ease-out forwards;
    -moz-animation: percent40 2s ease-out forwards;
    -ms-animation: percent40 2s ease-out forwards;
    -o-animation: percent40 2s ease-out forwards;
    animation: percent40 2s ease-out forwards;
}

.percent45.start {
    width: 0%;
    -webkit-animation: percent45 2s ease-out forwards;
    -moz-animation: percent45 2s ease-out forwards;
    -ms-animation: percent45 2s ease-out forwards;
    -o-animation: percent45 2s ease-out forwards;
    animation: percent45 2s ease-out forwards;
}

.percent50.start {
    width: 0%;
    -webkit-animation: percent50 2s ease-out forwards;
    -moz-animation: percent50 2s ease-out forwards;
    -ms-animation: percent50 2s ease-out forwards;
    -o-animation: percent50 2s ease-out forwards;
    animation: percent50 2s ease-out forwards;
}

.percent55.start {
    width: 0%;
    -webkit-animation: percent55 2s ease-out forwards;
    -moz-animation: percent55 2s ease-out forwards;
    -ms-animation: percent55 2s ease-out forwards;
    -o-animation: percent55 2s ease-out forwards;
    animation: percent55 2s ease-out forwards;
}

.percent60.start {
    width: 0%;
    -webkit-animation: percent60 2s ease-out forwards;
    -moz-animation: percent60 2s ease-out forwards;
    -ms-animation: percent60 2s ease-out forwards;
    -o-animation: percent60 2s ease-out forwards;
    animation: percent60 2s ease-out forwards;
}

.percent65.start {
    width: 0%;
    -webkit-animation: percent65 2s ease-out forwards;
    -moz-animation: percent65 2s ease-out forwards;
    -ms-animation: percent65 2s ease-out forwards;
    -o-animation: percent65 2s ease-out forwards;
    animation: percent65 2s ease-out forwards;
}

.percent70.start {
    width: 0%;
    -webkit-animation: percent70 2s ease-out forwards;
    -moz-animation: percent70 2s ease-out forwards;
    -ms-animation: percent70 2s ease-out forwards;
    -o-animation: percent70 2s ease-out forwards;
    animation: percent70 2s ease-out forwards;
}

.percent75.start {
    width: 0%;
    -webkit-animation: percent75 2s ease-out forwards;
    -moz-animation: percent75 2s ease-out forwards;
    -ms-animation: percent75 2s ease-out forwards;
    -o-animation: percent75 2s ease-out forwards;
    animation: percent75 2s ease-out forwards;
}

.percent80.start {
    width: 0%;
    -webkit-animation: percent80 2s ease-out forwards;
    -moz-animation: percent80 2s ease-out forwards;
    -ms-animation: percent80 2s ease-out forwards;
    -o-animation: percent80 2s ease-out forwards;
    animation: percent80 2s ease-out forwards;
}

.percent85.start {
    width: 0%;
    -webkit-animation: percent85 2s ease-out forwards;
    -moz-animation: percent85 2s ease-out forwards;
    -ms-animation: percent85 2s ease-out forwards;
    -o-animation: percent85 2s ease-out forwards;
    animation: percent85 2s ease-out forwards;
}

.percent90.start {
    width: 0%;
    -webkit-animation: percent90 2s ease-out forwards;
    -moz-animation: percent90 2s ease-out forwards;
    -ms-animation: percent90 2s ease-out forwards;
    -o-animation: percent90 2s ease-out forwards;
    animation: percent90 2s ease-out forwards;
}

.percent95.start {
    width: 0%;
    -webkit-animation: percent95 2s ease-out forwards;
    -moz-animation: percent95 2s ease-out forwards;
    -ms-animation: percent95 2s ease-out forwards;
    -o-animation: percent95 2s ease-out forwards;
    animation: percent95 2s ease-out forwards;
}

.percent100 {
    width: 0%;
    -webkit-animation: percent100 2s ease-out forwards;
    -moz-animation: percent100 2s ease-out forwards;
    -ms-animation: percent100 2s ease-out forwards;
    -o-animation: percent100 2s ease-out forwards;
    animation: percent100 2s ease-out forwards;
}

@-moz-keyframes percent5 {
    0% {
        width: 0px;
    }
    100% {
        width: 5%;
    }
}

@-moz-keyframes percent10 {
    0% {
        width: 0px;
    }
    100% {
        width: 10%;
    }
}

@-moz-keyframes percent15 {
    0% {
        width: 0px;
    }
    100% {
        width: 15%;
    }
}

@-moz-keyframes percent20 {
    0% {
        width: 0px;
    }
    100% {
        width: 20%;
    }
}

@-moz-keyframes percent25 {
    0% {
        width: 0px;
    }
    100% {
        width: 25%;
    }
}

@-moz-keyframes percent30 {
    0% {
        width: 0px;
    }
    100% {
        width: 30%;
    }
}

@-moz-keyframes percent35 {
    0% {
        width: 0px;
    }
    100% {
        width: 35%;
    }
}

@-moz-keyframes percent40 {
    0% {
        width: 0px;
    }
    100% {
        width: 40%;
    }
}

@-moz-keyframes percent45 {
    0% {
        width: 0px;
    }
    100% {
        width: 45%;
    }
}

@-moz-keyframes percent50 {
    0% {
        width: 0px;
    }
    100% {
        width: 50%;
    }
}

@-moz-keyframes percent55 {
    0% {
        width: 0px;
    }
    100% {
        width: 55%;
    }
}

@-moz-keyframes percent60 {
    0% {
        width: 0px;
    }
    100% {
        width: 60%;
    }
}

@-moz-keyframes percent65 {
    0% {
        width: 0px;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes percent70 {
    0% {
        width: 0px;
    }
    100% {
        width: 70%;
    }
}

@-moz-keyframes percent75 {
    0% {
        width: 0px;
    }
    100% {
        width: 75%;
    }
}

@-moz-keyframes percent80 {
    0% {
        width: 0px;
    }
    100% {
        width: 80%;
    }
}

@-moz-keyframes percent85 {
    0% {
        width: 0px;
    }
    100% {
        width: 85%;
    }
}

@-moz-keyframes percent90 {
    0% {
        width: 0px;
    }
    100% {
        width: 90%;
    }
}

@-moz-keyframes percent95 {
    0% {
        width: 0px;
    }
    100% {
        width: 95%;
    }
}

@-moz-keyframes percent100 {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes percent5 {
    0% {
        width: 0px;
    }
    100% {
        width: 5%;
    }
}

@-webkit-keyframes percent10 {
    0% {
        width: 0px;
    }
    100% {
        width: 10%;
    }
}

@-webkit-keyframes percent15 {
    0% {
        width: 0px;
    }
    100% {
        width: 15%;
    }
}

@-webkit-keyframes percent20 {
    0% {
        width: 0px;
    }
    100% {
        width: 20%;
    }
}

@-webkit-keyframes percent25 {
    0% {
        width: 0px;
    }
    100% {
        width: 25%;
    }
}

@-webkit-keyframes percent30 {
    0% {
        width: 0px;
    }
    100% {
        width: 30%;
    }
}

@-webkit-keyframes percent35 {
    0% {
        width: 0px;
    }
    100% {
        width: 35%;
    }
}

@-webkit-keyframes percent40 {
    0% {
        width: 0px;
    }
    100% {
        width: 40%;
    }
}

@-webkit-keyframes percent45 {
    0% {
        width: 0px;
    }
    100% {
        width: 45%;
    }
}

@-webkit-keyframes percent50 {
    0% {
        width: 0px;
    }
    100% {
        width: 50%;
    }
}

@-webkit-keyframes percent55 {
    0% {
        width: 0px;
    }
    100% {
        width: 55%;
    }
}

@-webkit-keyframes percent60 {
    0% {
        width: 0px;
    }
    100% {
        width: 60%;
    }
}

@-webkit-keyframes percent65 {
    0% {
        width: 0px;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes percent70 {
    0% {
        width: 0px;
    }
    100% {
        width: 70%;
    }
}

@-webkit-keyframes percent75 {
    0% {
        width: 0px;
    }
    100% {
        width: 75%;
    }
}

@-webkit-keyframes percent80 {
    0% {
        width: 0px;
    }
    100% {
        width: 80%;
    }
}

@-webkit-keyframes percent85 {
    0% {
        width: 0px;
    }
    100% {
        width: 85%;
    }
}

@-webkit-keyframes percent90 {
    0% {
        width: 0px;
    }
    100% {
        width: 90%;
    }
}

@-webkit-keyframes percent95 {
    0% {
        width: 0px;
    }
    100% {
        width: 95%;
    }
}

@-webkit-keyframes percent100 {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

/* Skill Styls Ends
-------------------------------------- */
.flexslider .slides img {
    width: 100%;
    height: 100%;
}

p.readmore a,
p.btn-slider a,
p.btn-more a {
    display: inline-block;
    padding: 5px 15px;
}

p.btn-slider a {
    padding: 7px 20px;
    padding-left: 15px;
}

p.btn-slider a i {
    padding-right: 8px;
}

p.btn-slider a,
p.btn-more a {
    background-color: #34495E;
    color: #FFFFFF;
}

p.btn-slider a:hover,
p.btn-more a:hover {
    background-color: #3498db;
}

#service-tabs ul li a {
    background-color: #34495E;
}

#service-tabs ul li a:hover,
#service-tabs ul li.ui-tabs-active a {
    background-color: #3498db;
}

.flex-direction-nav a:hover {
    background: #3498db;
    color: #FFFFFF;
}

.flex-control-paging li a {
    border-color: #3498db !important;
    background-color: #FFFFFF;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li a:hover {
    background-color: #3498db !important;
}

.jigoshop #breadcrumb a {
    color: #3498db !important;
    text-decoration: underline;
}

.jigoshop #breadcrumb a:hover {
    text-decoration: none;
}

.jigoshop .site-content {
    width: 1170px;
}

.jigoshop .products li {
    width: 32%;
    min-height: 150px;
    margin-bottom: 65px;
    padding: 20px 0 !important;
}

.jigoshop .products li a.button {
    position: absolute;
    right: 10px;
    bottom: 20px;
    margin: 0;
}

.jigoshop .products li a:hover img {
    border: 0;
}

.jigoshop .products li strong {
    padding: 0 10px;
    min-height: 50px;
    text-align: center;
    line-height: normal;
}

.jigoshop .products li strong:hover {
    color: #3498db;
}

a.button,
button.button,
input.button,
#review_form #submit {
    background-color: #3498db;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 0;
    border-radius: 0;
}

a.button:hover,
button.button:hover,
input.button:hover,
#review_form #submit:hover {
    background-color: #34495E;
    color: #FFFFFF;
}

.products li .price,
div.product p.price,
p.stock {
    color: #ff4200;
}

.products li .price .from,
.products li .price del {
    font-size: 12px;
}

span.onsale {
    margin: 0 !important;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #DA54C8;
    padding: 10px 20px;
    left: 0;
    right: auto;
}

.button-alt {
    margin-top: 0;
    padding: 7px;
    background: #34495e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #34495e 0%, #273347 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34495e), color-stop(100%, #273347));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #34495e 0%, #273347 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #34495e 0%, #273347 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #34495e 0%, #273347 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #34495e 0%, #273347 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34495e', endColorstr='#273347', GradientType=0);
    /* IE6-9 */
    border: 1px solid #34495E;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
}

a.button-alt {
    color: #FFFFFF;
}

.button-alt:hover {
    background: #3498db;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3498db 0%, #3498db 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3498db), color-stop(100%, #3498db));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3498db 0%, #3498db 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3498db 0%, #3498db 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3498db 0%, #3498db 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #3498db 0%, #3498db 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498db', endColorstr='#3498db', GradientType=0);
    /* IE6-9 */
    border-color: #136CAB;
}

.jigoshop .site-content .quantity input.plus,
.jigoshop .site-content .quantity input.minus {
    background-color: #34495E;
}

.jigoshop .site-content .quantity input.plus:hover,
.jigoshop .site-content .quantity input.minus:hover {
    background-color: #3498db;
}

.related ul.products {
    float: none;
    width: 100%;
}

div.product div.summary,
div.product div.images {
    width: 48%;
}

.single-product div.product div.images img {
    width: 100%;
    border-color: #d6e6ea;
    background-color: #FFFFFF;
}

div.product #tabs ul.tabs {
    background-color: #D7D7D7;
}

div.product #tabs .panel {
    border-color: #D7D7D7;
}

div.product #tabs ul.tabs a {
    background-color: #F0F2F3;
}

.products li span.price {
    float: none;
    text-align: left;
    padding-left: 10px;
}

ins {
    background-color: #34495E;
    color: #FFFFFF;
    padding: 0 5px;
}

.product-remove a.remove {
    background-color: #fa0000;
    margin: 0 auto;
}

.product-remove a.remove:hover {
    background-color: #34495E;
}

.product-name a:hover {
    color: #34495E;
}

table.shop_table th {
    color: #34495E;
    font-size: 14px;
}

.quantity input.qty {
    text-align: center;
}

.shop_table.cart .actions a.checkout-button:hover {
    color: #FFFFFF;
}

.cart-collaterals .cart_totals,
.cart-collaterals .shipping_calculator {
    width: 48%;
}

form .form-row input.input-text:focus,
#content .form-row input.input-text:focus,
form .form-row textarea:focus,
#content .form-row textarea:focus {
    box-shadow: inset 0 0 0 1px #3498db;
    -webkit-box-shadow: inset 0 0 0 1px #3498db;
    -moz-box-shadow: inset 0 0 0 1px #3498db;
}

#payment div.payment_box {
    background: #88bfe8;
    /* Old browsers */
    background: -moz-linear-gradient(top, #88bfe8 0%, #70b0e0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88bfe8), color-stop(100%, #70b0e0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #88bfe8 0%, #70b0e0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #88bfe8 0%, #70b0e0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #88bfe8 0%, #70b0e0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #88bfe8 0%, #70b0e0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88bfe8', endColorstr='#70b0e0', GradientType=0);
    /* IE6-9 */
    border-color: #3498db;
}

#payment div.payment_box p {
    color: #FFFFFF;
}

#payment div.payment_box:after {
    border-bottom-color: #3498db;
}

.form-row .required {
    color: #f94242;
}

form .form-row input.input-text,
#content .form-row input.input-text,
form .form-row textarea,
#content .form-row textarea {
    line-height: normal;
}

#payment .payment_methods.methods li input#payment_method_cheque,
#payment .payment_methods.methods li label {
    display: inline;
}

td.cart-row-subtotal,
td.cart-row-total {
    color: #3498db;
}

.checkout .jigoshop-invalid input.input-text,
.checkout .jigoshop-validated select {
    border-color: #3498db !important;
}

.jigoshop .site-content div.jigoshop_error,
.jigoshop .site-content div.jigoshop_message {
    position: relative;
    text-shadow: 0 1px 0 #fff;
    list-style: none outside !important;
    *zoom: 1;
    width: auto;
    -webkit-box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.05), inset 0 -2px 30px rgba(0, 0, 0, 0.015), inset 0 1px 0 #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.05), inset 0 -2px 30px rgba(0, 0, 0, 0.015), inset 0 1px 0 #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 0;
    border-top: 3px solid #3498db;
    background-color: #F0F2F3;
}

.woocommerce-error li strong {
    color: #ff0000;
}

.jigoshop .site-content div.jigoshop_error span,
.jigoshop .site-content div.jigoshop_message span {
    padding-bottom: 5px;
    color: #secondary_color;
}

a.button,
button.button,
input.button,
#review_form #submit {
    padding: 6px 10px;
}

.jigoshop .products li {
    border: 1px solid #d6e6ea;
    position: relative;
}

.products li a img {
    border: 0;
    margin-bottom: 10px !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.related.products li a img {
    width: 150px !important;
    height: 150px !important;
}

.star-rating,
p.stars span,
.star-rating span,
p.stars span a:hover,
p.stars span a:focus,
p.stars span a.active {
    background-image: url("images/star.png");
}

a.lost_password {
    padding: 5px 10px;
    display: inline-block;
}

a.lost_password:hover {
    color: #34495E;
}

.info a {
    color: #3498db;
}

.info a:hover {
    color: #3498db;
}

.related.products li span.price {
    font-size: 15px;
    padding-top: 5px;
}

.form-cart-items td.actions a.checkout-button.button-alt:nth-of-type(2) {
    background: #87e0fd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87e0fd), color-stop(40%, #53cbf1), color-stop(100%, #05abe0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e0fd', endColorstr='#05abe0', GradientType=0);
    /* IE6-9 */
    border-color: #6FB4E6;
    color: #FFFFFF;
}

.form-cart-items td.actions a.checkout-button.button-alt:nth-of-type(2):hover {
    background: #05abe0;
    /* Old browsers */
    background: -moz-linear-gradient(top, #05abe0 0%, #53cbf1 60%, #87e0fd 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #05abe0), color-stop(60%, #53cbf1), color-stop(100%, #87e0fd));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #05abe0 0%, #53cbf1 60%, #87e0fd 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #05abe0 0%, #53cbf1 60%, #87e0fd 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #05abe0 0%, #53cbf1 60%, #87e0fd 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #05abe0 0%, #53cbf1 60%, #87e0fd 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#87e0fd', GradientType=0);
    /* IE6-9 */
}

a.button, button.button, input.button, #review_form #submit {
    color: #FFFFFF;
}

.products ul,
ul.products {
    float: none;
}

#payment ul.payment_methods li input {
    margin-right: 5px !important;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #34495E;
}

#reviews h2 {
    margin-bottom: 20px;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 20px;
}

.gallery-item img {
    border: 1px solid #3498db;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
12.3 Galleries
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    .jigoshop .site-content {
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .site-branding {
        height: auto;
        padding: 20px 0;
    }
}

@media only screen and (max-width: 768px) {
    .team-content,
    .innercol {
        background: none;
    }

    .team-col,
    .team-col:nth-of-type(3) {
        border-bottom: 1px solid #ccc;
    }

    .service-desc {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .flexslider .flex-image {
        height: auto;
    }

    #site-navigation {
        height: auto;
    }

    ol.comment-list .comment-body {
        width: 88%;
    }
}

@media only screen and (max-width: 500px) {
    .menu-toggle, .main-navigation.toggled .nav-menu {
        display: none;
    }

    .menu-all-pages-container {
        padding: 10px 0;
    }

    .menu-all-pages-container select {
        width: 100%;
        padding: 5px 0;
    }

    #service-tabs ul li a {
        border-bottom: 1px solid #425A73;
        display: block;
    }

    .comment-navigation .nav-previous,
    .paging-navigation .nav-previous,
    .post-navigation .nav-previous,
    .comment-navigation .nav-next,
    .paging-navigation .nav-next,
    .post-navigation .nav-next {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .comment-navigation .nav-previous a,
    .paging-navigation .nav-previous a,
    .post-navigation .nav-previous a,
    .comment-navigation .nav-next a,
    .paging-navigation .nav-next a,
    .post-navigation .nav-next a {
        display: block;
    }

    .post-password-form input[type="submit"],
    .post-password-form input[type="password"] {
        width: 100%;
        margin-bottom: 10px;
    }

    ol.comment-list .comment-body {
        width: 85%;
    }

    ol.comment-list li > ul,
    ol.comment-list li > ol {
        margin-left: 0;
    }

    .widget_search input {
        width: 95%;
    }

    .gallery {
        width: 95%;
    }

    .gallery img {
        max-width: 90%;
    }

    .team-col p, .team-col h5 {
        margin: 0;
        float: none;
    }

    .team-col img {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .flex-caption {
        top: 2%;
    }

    .flex-caption p {
        line-height: normal;
    }

    .flex-direction-nav a {
        top: 40%;
    }
}

/*# sourceMappingURL=style.css.map */
